<section>
    <article class="bgc-white p-20 bd">
        <h6 class="c-grey-900">Welcome to the irupe api rest</h6>
        <p>
            Irupe api: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur esse
            eum explicabo facilis, fuga illo iusto libero maiores, non possimus praesentium
            quam quidem, ratione sed tempora tenetur totam unde.
        </p>

    </article>
    {{#unless products}}
        <article class="bgc-amber-50 p-20 bd">
            <p>There are no products</p>
        </article>
    {{/unless}}

    {{#if products}}
        <article class="bgc-amber-50 p-20 bd">
            <p>There are no products</p>
        </article>
    {{/if}}

</section>
